{% extends "layout.html" %}

{% block title %}Sign Up{% endblock %}

{%block description %}This page is used to login and get access to your personal task manager{% endblock %}

{% block stylesheets %}
<link href="/static/css/signup.css" rel="stylesheet">
{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center p-5 mb-5">
            <form action="/signup" method="POST" class="d-flex align-items-center flex-column text-center">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <p></p>
                    <input type="text" id="username" name="username" placeholder="username" autofocus>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <p></p>
                    <input type="password id="password" name="password" placeholder="password" autocomplete='off'>
                </div>
                <div class="mb-3">
                    <label for="confirmation" class="form-label">Confirm password</label>
                    <p></p>
                    <input type="password" id="confirmation" name="confirmation" aria-describedby="confirmation" placeholder="confirm your password">
                </div>
                <button type="submit" class="btn btn-primary my-3" id="signup_button">Sign Up</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
